.sessao-cardapio {
  background: #cc9f87;
  width: 100%;
  padding: 40px 0;
}

.botoes {
  width: 370px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.botoes a:first-child {
  margin-right: 30px;
}

.botoes .btn-claro {
  margin-top: 60px;
}

@media only screen and (max-width: 787px) {
  .botoes {
    width: 170px;
  }
  .botoes a:first-child {
    margin-right: 0px;
  }
  .botoes .btn-claro {
    margin-top: 30px;
  }
}

.bebidas,
.bebidas-prod,
.alimentos,
.alimentos-prod {
  margin-top: 60px;
}

.bebidas h2,
.alimentos h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #ffd7c2;
}

.bebidas-prod h3,
.alimentos-prod h3 {
  font-size: 24px;
  font-weight: bold;
  color: #ffd7c2;
}

.alimentos-prod h3 {
  text-align: right;
}

.bebidas-prod p,
.alimentos-prod p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 25px;
  height: 120px;
}

.alimentos-prod p {
  text-align: right;
}

.bebidas-prod span,
.alimentos-prod span {
  display: block;
  margin-top: 30px;
  width: 170px;
  height: 30px;
  background: #ffd7c2;
  color: #cc9f87;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  padding-top: 4px;
}

.bebidas-prod span {
  float: right;
}

.bebidas-prod::after,
.alimentos-prod::after {
  content: " ";
  display: table;
  clear: both;
}

.alimentos-img {
  float: right;
}

@media only screen and (max-width: 787px) {
  .alimentos-img {
    margin-bottom: 30px;
  }

  .bebidas-prod h3,
  .alimentos-prod h3 {
    margin-top: 30px;
  }

  .bebidas-prod p,
  .alimentos-prod p {
    height: auto;
  }
}

.footer-claro {
  width: 100%;
  height: 60px;
  background: #ffd7c2;
}

.footer-claro p {
  margin-top: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #cc9f87;
}

@media only screen and (max-width: 787px) {
  .footer-claro p {
    font-size: 18px;
  }
}
